<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>IC tasks</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home">IC Tasks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/home">Tasks</a>
            <a class="nav-link" href="/templates">Templates</a>
            <a class="nav-link" href="/goodbye" style="color:#B22222;">Close App</a>
        </div>
    </div>
</nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Oops!</h1>
            <p class="lead">IC Task Tracker has experienced some problems.</p>
            <p class="lead" th:text="'Error code=' + ${errorcode}"></p>
            <a class="lead" href="/home">Go back home</a>
        </div>
      </div>

</body>