<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>IC tasks</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Goodbye!</h1>
          <p class="lead">IC Task Tracker application has been closed. See you next time.</p>
        </div>
      </div>

</body>