<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>IC tasks</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home">IC Tasks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/home">Tasks</a>
            <a class="nav-link" href="/templates">Templates</a>
            <a class="nav-link" href="/goodbye" style="color:#B22222;">Close App</a>
        </div>
    </div>
</nav>


<div style="padding-top:15px;padding-left:20px;padding-right:20px;" >
    <h3>TASK LIST FOR PERIOD</h3>
    <div class="row" style="padding-top:10px">
        <div class="col-md-6 mb-6" >
            <div class="input-group mb-8">
                <form class="form-inline" action="loadtasks" method="get">
                    <select id="selectPeriod" name="selectPeriod" class="form-control" aria-describedby="button-addon2">
                        <option th:each="period : ${allPeriods}"
                                th:value="${period}"
                                th:text="${period}"
                                th:selected="${period==nowPeriod}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-outline-info">Load</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 mb-6" >

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#exampleModal">
                Create tasks from template
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="generatetasks" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Select period</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <select id="selectPeriod2" name="selectPeriod2" class="form-control" aria-describedby="button-addon2">
                                    <option th:each="period : ${allPeriods}"
                                            th:value="${period}"
                                            th:text="${period}"
                                            th:selected="${period==nowPeriod}">
                                    </option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-dark">Create tasks</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top:15px">
        <table class="table table-sm">
            <thead class="text-nowrap">
            <tr>
                <th style="color: grey;">Id</th>
                <th>From</th>
                <th>To</th>
                <th>Currency</th>
                <th>Transaction type</th>
                <th style="min-width:190px;">Description</th>
                <th>Data provided by</th>
                <th style="min-width:190px">Additional info</th>
                <th>Status</th>
                <th>Comment</th>
                <th></th>
                <th></th>
                <th>Batch No.</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="taskDao: ${periodTasks}">
                <form th:object="${taskDao}" th:action="@{/tasks}" method="post">
                    <input type="hidden" th:value="*{period}" name="period" id="period"/>
                    <input type="hidden" th:value="*{id}" name="id" id="id"/>
                    <input type="hidden" th:value="*{entityOut}" name="entityOut" id="entityOut"/>
                    <input type="hidden" th:value="*{entityIn}" name="entityIn" id="entityIn"/>
                    <input type="hidden" th:value="*{currency}" name="currency" id="currency"/>
                    <input type="hidden" th:value="*{transactionType}" name="transactionType" id="transactionType"/>
                    <input type="hidden" th:value="*{name}" name="name" id="name"/>
                    <input type="hidden" th:value="*{dataProvider}" name="dataProvider" id="dataProvider"/>
                    <input type="hidden" th:value="*{description}" name="description" id="description"/>
                    <input type="hidden" th:value="*{templateId}" name="templateId" id="templateId"/>
                    <input type="hidden" th:value="*{batchNumber}" name="batchNumber" id="batchNumber">
                    <td th:text="*{id}" style="color: grey;"></td>
                    <td th:text="*{entityOut}"></td>
                    <td th:text="*{entityIn}"></td>
                    <td th:text="*{currency}"></td>
                    <td class="text-nowrap" th:text="*{transactionType}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{dataProvider}"></td>
                    <td th:text="*{description}"></td>
                    <td>
                        <select id="status" name="status" class="form-control form-control-sm" th:value="*{status}" th:style="'width:110px;font-size:13px;' + ${taskDao.status=='in progress' ? 'background-color:lightyellow;' : taskDao.status=='completed' ? 'background-color:lightgreen;' : 'background-color:white;'}">
                            <option style="background-color:white"
                                    th:each="sstatus : ${allStatus}"
                                    th:value="${sstatus}"
                                    th:text="${sstatus}"
                                    th:selected="${sstatus}==${taskDao.status}">
                            </option>
                        </select>
                    </td>
                    <td style="min-width:180px"><textarea th:text="*{comment}" th:value="*{comment}" name="comment" id="comment" rows="2" class="form-control form-control-sm" style="width:100%;font-size:12px;"></textarea></td>
                    <td><button type="submit" class="btn btn-light btn-sm" style="font-size:13px">Quick Save</button></td>
                    <td><a class="btn btn-info btn-sm" th:href="@{/tasks/} + *{id}" style="font-size:13px">Edit</a> </td>
                    <td th:text="*{batchNumber}" style="text-align:right"></td>
                </form>
            </tr>
            </tbody>
        </table>
</div>





</body>
</html>