<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>IC tasks</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home">IC Tasks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/home">Tasks</a>
            <a class="nav-link" href="/templates">Templates</a>
            <a class="nav-link" href="/goodbye" style="color:#B22222;">Close App</a>
        </div>
    </div>
</nav>

<div style="padding-top:15px" >
    <div class="row" style="padding-left:20px;padding-right:20px;">
        <div class="col-md-6 mb-6">
            <h3>TEMPLATES LIST</h3>
        </div>
        <div class="col-md-6 mb-6">
                <a class="btn btn-dark float-right" th:href="@{/newtemplate}">Create new template</a>
        </div>                    
    </div>
</div>

<div class="container-fluid" style="padding-top:15px">
    <table class="table table-sm">
        <thead>
        <tr>
            <th style="color: grey">Id</th>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Currency</th>
            <th>Transaction Type</th>
            <th>Data provided by</th>
            <th>Active?</th>
            <th></th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="templ: ${templates}">
            <td th:text="${templ.id}" style="color: grey"></td>
            <td th:text="${templ.name}"></td>
            <td th:text="${templ.entityOut}"></td>
            <td th:text="${templ.entityIn}"></td>
            <td th:text="${templ.currency}"></td>
            <td th:text="${templ.transactionType}"></td>
            <td th:text="${templ.dataProvider}"></td>
            <td th:text="${templ.isActive}"></td>
            <td><a class="btn btn-info btn-sm" th:href="@{/templates/} + ${templ.id}">Edit</a> </td>
            <td th:text="${templ.description}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>