<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>IC tasks</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home">IC Tasks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/home">Tasks</a>
            <a class="nav-link" href="/templates">Templates</a>
            <a class="nav-link" href="/goodbye" style="color:#B22222;">Close App</a>
        </div>
    </div>
</nav>
<div class="container" >
    <div class="shadow card" style="margin-top:20px;margin-bottom:20px;">
        <div class="card-body">
            <h3 style="card-title">Task details</h3>
            <form class="form-horizontal" th:object="${taskDao}" th:action="@{/tasks}" th:method="post">
                <input type="hidden" class="form-control" th:field="*{id}">
                <div class="form-group">
                    <label>Name of the activity:</label>
                    <input class="form-control" type="text" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Billing entity:</label>
                            <input class="form-control" type="text" th:field="*{entityOut}"/>
                        </div>
                        <div class="col">
                            <label>Receiving entity:</label>
                            <input class="form-control" type="text" th:field="*{entityIn}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Billing currency:</label>
                            <input class="form-control" type="text" th:field="*{currency}"/>
                        </div>
                        <div class="col">
                            <label>Transaction type:</label>
                            <input class="form-control" type="text" th:field="*{transactionType}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Who provides information/calculation?</label>
                    <input class="form-control" type="text" th:field="*{dataProvider}">
                </div>
                <div class="form-group">
                    <label>Additional information:</label>
                    <textarea class="form-control" type="text" th:field="*{description}"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Period:</label>
                            <select name="period" id="period" class="form-control" th:value="*{period}">
                                <option th:each="pperiod : ${allPeriods}"
                                        th:value="${pperiod}"
                                        th:text="${pperiod}"
                                        th:selected="${pperiod}==${taskDao.period}">
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Status:</label>
                            <select name="status" id="status" class="form-control" th:value="*{status}" th:style="${taskDao.status=='in progress' ? 'background-color:lightyellow' : taskDao.status=='completed' ? 'background-color:lightgreen' : 'background-color:white'}">
                                <option style="background-color:white"
                                        th:each="sstatus : ${allStatus}"
                                        th:value="${sstatus}"
                                        th:text="${sstatus}"
                                        th:selected="${sstatus}==${taskDao.status}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Comment:</label>
                    <textarea class="form-control" type="text" th:field="*{comment}"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" th:field="*{templateId}">
                    <input type="hidden" class="form-control" th:field="*{batchNumber}">    
                    <div class="row">
                        <div class="col">
                            <p th:text="@{AGIS Batch: } + ${taskDao.batchNumber}"></p>
                            <p class="text"><a th:href="@{/tasks/batchupdate/} + *{id}" class="text">(click to refresh)</a></p>
                        </div>
                        <div class="col">
                            <p class="text-right"><a th:href="@{/templates/} + *{templateId}" class="text-right">show template</a></p>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="padding-top:20px">
                    <div class="row" >
                        <div class="col-4">
                            <a th:href="@{/home}" class="btn btn-light" role="button" aria-disabled="true">Cancel</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-info float-right">Save</button>
                        </div>
                        <div class="col-2">
                            <a th:href="@{/tasks/delete/} + *{id}" class="btn btn-info float-right" role="button" aria-disabled="true">Delete task</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>