<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>IC tasks</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home">IC Tasks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/home">Tasks</a>
            <a class="nav-link" href="/templates">Templates</a>
            <a class="nav-link" href="/goodbye" style="color:#B22222;">Close App</a>
        </div>
    </div>
</nav>
<div class="container" >
    <div class="shadow card" style="margin-top:20px;margin-bottom:20px;">
        <div class="card-body">
            <h3 style="card-title">Template details</h3>
            <form class="form-horizontal" th:object="${template}" th:action="@{/templates}" th:method="post">
                <div class="form-group" style="padding-top:15px;">
                    <div class="col">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="activeswitch" th:field="*{active}">
                            <label class="custom-control-label" for="activeswitch">Active</label>
                        </div>
                    </div>
                    <div class="col">
                        <input type="hidden" class="form-control" th:field="*{id}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Name of the activity:</label>
                    <input class="form-control" type="text" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Billing entity:</label>
                            <input class="form-control" type="text" th:field="*{entityOut}"/>
                        </div>
                        <div class="col">
                            <label>Receiving entity:</label>
                            <input class="form-control" type="text" th:field="*{entityIn}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Billing currency:</label>
                            <input class="form-control" type="text" th:field="*{currency}"/>
                        </div>
                        <div class="col">
                            <label>Transaction type:</label>
                            <input class="form-control" type="text" th:field="*{transactionType}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Who provides information/calculation?</label>
                    <input class="form-control" type="text" th:field="*{dataProvider}">
                </div>
                <div class="form-group">
                    <label>Additional information:</label>
                    <textarea class="form-control" type="text" th:field="*{description}"></textarea>
                </div>
                <div class="form-group">
                    <p>Select months to perform this task:</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox11" th:field="*{nov}">
                        <label class="form-check-label" for="inlineCheckbox11">Nov</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox12" th:field="*{dec}">
                        <label class="form-check-label" for="inlineCheckbox12">Dec</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:field="*{jan}">
                        <label class="form-check-label" for="inlineCheckbox1">Jan</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{feb}">
                        <label class="form-check-label" for="inlineCheckbox2">Feb</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" th:field="*{mar}">
                        <label class="form-check-label" for="inlineCheckbox3">Mar</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" th:field="*{apr}">
                        <label class="form-check-label" for="inlineCheckbox4">Apr</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" th:field="*{may}">
                        <label class="form-check-label" for="inlineCheckbox5">May</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" th:field="*{jun}">
                        <label class="form-check-label" for="inlineCheckbox6">Jun</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" th:field="*{jul}">
                        <label class="form-check-label" for="inlineCheckbox7">Jul</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" th:field="*{aug}">
                        <label class="form-check-label" for="inlineCheckbox8">Aug</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox9" th:field="*{sep}">
                        <label class="form-check-label" for="inlineCheckbox9">Sep</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox10" th:field="*{oct}">
                        <label class="form-check-label" for="inlineCheckbox10">Oct</label>
                    </div>
                </div>
                <div class="form-group" style="padding-top:20px">
                    <div class="row" >
                        <div class="col">
                            <a th:href="@{/templates}" class="btn btn-light" role="button" aria-disabled="true">Cancel</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-info float-right">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>